body, h1 {
	background: url("owen-cl-571744-unsplash.jpg");
	background-size: cover;
 	font-family: 'IBM Plex Sans Condensed', sans-serif;
	text-align: center;
	color: grey;

  };

a {
	color: grey;
	border: 2px;
	padding: 20px;
	margin: 0 auto;
	width: 300px;
}

a:hover {
	color: #FF6D7F;
	text-decoration: none;
}
h1 {
	font-size: 70px;
}

ul {
	padding: 10px;
	background: rgba(255,255,255,0.5);

}

li {
	display: inline;
	padding: 0px 10px 0px 10px;
	color: grey;
}
