body {
	background: url("owen-cl-571744-unsplash.jpg");
	background-size: cover;
 	font-family: 'IBM Plex Sans Condensed', sans-serif;
	color: grey;
	background-repeat: no-repeat;

  }

a {
	color: white;
	
	top: 50px;
	right: 0px;

}

a:hover {
	color: #FF6D7F;
	text-decoration: none;
}
h1 {
	font-size: 70px;
	margin-top: 100px;
}

ul {
	padding: 10px;
	background: rgba(255,255,255,0.5);
	top: 50px;
	right: 0px;

}

li {
	display: inline;
	padding: 0px 10px 0px 10px;
	color: grey;
	
}
